$w3-theme-l5: #fef4f3;
$w3-theme-l4: #fdd9d6;
$w3-theme-l3: #fbb3ae;
$w3-theme-l2: #f98d85;
$w3-theme-l1: #f6665c;
$w3-theme-d1: #f32617;
$w3-theme-d2: #e11a0c;
$w3-theme-d3: #c5170a;
$w3-theme-d4: #a91409;
$w3-theme-d5: #8d1007;

$w3-theme-light: #fef4f3;
$w3-theme: #f44336;
$w3-theme-dark: #8d1007;

@include color('theme-l5', $w3-theme-l5);
@include color('theme-l4', $w3-theme-l4);
@include color('theme-l3', $w3-theme-l3);
@include color('theme-l2', $w3-theme-l2);
@include color('theme-l1', $w3-theme-l1);
@include color('theme-d1', $w3-theme-d1);
@include color('theme-d2', $w3-theme-d2);
@include color('theme-d3', $w3-theme-d3);
@include color('theme-d4', $w3-theme-d4);
@include color('theme-d5', $w3-theme-d5);
@include color('theme-light', $w3-theme-light);
@include color('theme', $w3-theme);
@include color('theme-dark', $w3-theme-dark);
