@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

$hamburger-layer-color: white;
@import "~hamburgers/_sass/hamburgers/hamburgers";

@import "mixin";
@import 'w3';
@import "variables";
@import "bandeau";
@import "fonts";

$medium-min: 800px;
$large-min: 1280px;

html, body{
  height: 100%;
}

#app {
  font-family: eurofighter;
}

.transition-fade {
  transition: 0.3s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.fondMenu, .fond2, .fond3{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.fondMenu{
  height: 90%;
}

.transparent-light-grey{
  background-color: rgba(249, 249, 249, 0.8);
}

@media (max-width:992px){
  .theme-light-menu{
    background-color: $light-grey;
  }
}

.no-webp{
  @media (orientation: landscape) {
    .fondMenu {
      background-image: url("images/fonds/small/sMenu.jpg");
    }
  }

  @media (orientation: portrait) {
    .fondMenu {
      background-image: url("images/fonds/small/sMenuV.jpg");
    }
  }
}

.webp{
  @media (orientation: landscape) {
    .fondMenu {
      background-image: url("images/fonds/small/sMenu.webp");
    }
  }

  @media (orientation: portrait) {
    .fondMenu {
      background-image: url("images/fonds/small/sMenuV.webp");
    }
  }
}

@media (min-width:$medium-min)
{
  .no-webp{
    .fondMenu {
      background-image: url("images/fonds/medium/mMenu.jpg");
    }

    .fondMenu {
      background-image: url("images/fonds/medium/mMenu.jpg");
    }
  }

  .webp{
    .fondMenu {
      background-image: url("images/fonds/medium/mMenu.webp");
    }
  }
}

@media (min-width:$large-min)
{
  .no-webp{
    .fondMenu {
      background-image: url("images/fonds/large/lMenu.jpg");
    }
  }

  .webp{
    .fondMenu {
      background-image: url("images/fonds/large/lMenu.webp");
    }
  }
}

.width100{
  width: 100%;
}

nav{
    display: block;
    position: fixed;
    top: 0;
    width: 200px;
    z-index: 100;
}

.border-bottom-left-round{
    border-bottom-left-radius: 10px;
}

#menuLarge{
    border-radius: 0 20px;
    height: 100%;
    width: 180px;
}

#menuLarge a:first-child{
    border-top-right-radius: 20px;
}

#menuLarge a:last-child{
    border-bottom-left-radius: 20px;
}

.content{
    padding-left: 200px;
}

.text-content{
    margin-left: 200px;
}

@media (max-width:992px){
    nav{
        right: 0;
        top: 85px;
        width: auto;
    }

    .content{
        padding-left: 0;
    }

    .text-content{
        margin-left: 0;
    }

    #menuCollapse a:last-child{
        border-bottom-left-radius: 10px;
    }
}

.imageTitle{
    margin-top: 40px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;

    h1{
        position: absolute;
        width: 100%;
        top: 50px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8)
    }
}
