@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import "mixin";
@import 'w3';
@import "variables";

$medium-min: 800px;
$large-min: 1280px;

html, body, #swup{
  height: 100%;
}

.transition-fade {
  transition: 0.3s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.fondMenu, .fond2, .fond3{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.fondMenu{
  height: 90%;
}

.dark-red{
  background-color: $dark-red;
  color: white;
}

.theme-light-menu{
  color: black;
}

.bandeauMenu{
  background-color: rgba(249, 249, 249, 0.8);
}

.borderMenu{
  border-top: solid 2px $light-grey;
}

.diagonalSvg{
  --color-1: #4f4f4f;
  --color-2: #8d1007;
}

@media (max-width:992px){
  .theme-light-menu{
    background-color: #f9f9f9;
  }
}

.no-webp{
    .fondMenu {
        background-image: url("images/fonds/small/sMenu.jpg");
    }
}

.webp{
    .fondMenu {
        background-image: url("images/fonds/small/sMenu.webp");
    }
}

@media (min-width:$medium-min)
{
    .no-webp{
        .fondMenu {
            background-image: url("images/fonds/medium/mMenu.jpg");
        }
    }

    .webp{
        .fondMenu {
            background-image: url("images/fonds/medium/mMenu.webp");
        }
    }
}

@media (min-width:$large-min)
{
    .no-webp{
        .fondMenu {
            background-image: url("images/fonds/large/lMenu.jpg");
        }
    }

    .webp{
        .fondMenu {
            background-image: url("images/fonds/large/lMenu.webp");
        }
    }
}

.width100{
  width: 100%;
}
